body {
    font-family: 'Raleway', sans-serif;
    background: #f4f4f9;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #1a1a2e;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    height: 50px;
    max-height: 80px;
    object-fit: contain;
    margin-left: 1.5%;
    
}


#welcomeText {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFD700;
    text-align: center;
    margin-right: 20%;
    flex: 1; 
}
.dropdown {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.user-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #FFD700;
    margin-right: 20px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
}

.dropdown-menu a {
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #f4f4f9;
    border-radius: 10px;
}


.container {
    margin-top: 120px;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #292952;
}
.box-container {
    display: flex;
    flex-direction: column; 
    gap: 30px;
    align-items: center; 
    width: 100%;
    margin-bottom: 3%;
}

.box {
    min-height: 300px;
    width: 100%; 
    max-width: 850px; 
    padding: 25px;
    background: #292952;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(50, 50, 70, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    position: relative; 
    overflow: hidden;
    margin: 0 auto; 
}
.box:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4), -8px -8px 20px rgba(50, 50, 70, 0.2);
}

.box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f9f9f9;
}

.box p {
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.box .btn {
    padding: 10px 15px;
    background: #FFD700;
    color: #1f1f2e;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.box .btn:hover {
    background: #FFA500;
    transform: scale(1.05);
}


footer {
    margin-top: auto;
    
    background-color: #bababe;
    color: #0a0909;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    position:relative;
    overflow-x: auto;
}

footer a {
    color: #FFD700;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0; 
    opacity: 0.7; 
}

.content-overlay {
    position: relative;
    z-index: 1; 
    color: #fff;
    text-align: center;
    padding: 70px;
    transition: color 0.3s ease;
}

.content-overlay h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
    color: #fbfaf8;
}

.content-overlay p {
    color: #fefcfc;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.1);
}

.content-overlay .btn {
    padding: 10px 15px;
    background: #FFD700;
    color: #1f1f2e;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.content-overlay .btn:hover {
    background: #FFA500;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }

    .navbar-content {
        flex-direction: column;
        gap: 5px;
    }

    #welcomeText {
        font-size: 1.5rem;
        margin-top: 5px;
    }

    .dropdown {
        margin-left: 0; 
        margin-top: 10px;
    }

    .user-icon {
        margin-right: 0;
    }
}