body {
    font-family: 'Poppins', sans-serif;
    background-color: #d0cde6;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1a1a2e;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center-title {
    flex: 1; 
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: white; 
}
  
.navbar-logo {
    height: 50px; 
    max-height: 80px; 
    object-fit: contain;
    margin-right: 20px; 
}

.navbar .navigation-buttons {
    display: flex;
    gap: 10px;
}

.dashboard-icon {
    vertical-align: middle;
    margin-right: 2px;
    margin-bottom: 2px;
}

.dashboard:hover .dashboard-icon {
    filter: brightness(0);
    }

.navbar .navigation-buttons button {
    color: white;
    background-color: transparent;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 16px;
    transition: all 0.3s;
}

.navbar .navigation-buttons button:hover {
    color: #1a1a2e;
}

.navbar .navigation-buttons button.learningMode {
    border: 2px solid #dc3545;
    margin-right: 20px;
}

.navbar .navigation-buttons button.learningMode:hover {
    background-color: #dc3545;
}

.navbar .navigation-buttons button.dashboard {
    border: 2px solid #ffc107;
}

.navbar .navigation-buttons button.dashboard:hover {
    background-color: #ffc107;
}

.exercise-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 20px; 
}

.main-section {
    display: grid;
    grid-template-columns: 7fr 3fr; 
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
}

.question-box {
    background-color: #1e1052;
    border-radius: 20px;
    margin-left: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    height: auto;
}

.question-box h2 {
    color: #ffd700;
    margin-bottom: 10px;
}

.question-box input {
    width: 95%; 
    padding: 12px;
    font-size: 1rem;
    margin-top: 150px;
    border: none;
    border-radius: 10px;
}

.question-box button {
    background-color: #ffd700;
    color: #1e1052;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 300px;
    transition: background-color 0.3s;
    margin-top: 10px; 
    box-shadow: 0 4px 8px rgba(252, 252, 252, 0.7);
}

.question-box button:hover {
    background-color: #1c1c3d;
    color: #ffd700;
    border-color: #ffd700;
}

.image-box {
    background-color: #1e1052;
    border-radius: 20px;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.image-box img {
    max-width: 100%;
    border-radius: 10px;
}

.solution-box {
    width: 85%; 
    background-color: #1e1052;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto 0 auto; 
    color: white;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}


.exercise-change-buttons {
    display: flex;
    margin-left:870px ;
    gap: 5px; 
    margin-top: 10px;
}

.button-next-next {
    background-color: #1e1052;
    color: #fdfdfd;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.button-next-next:hover {
    background-color: #ffd700;
    color: #1c1c3d;
}


.button-next {
    background-color: #1e1052;
    color: #fdfdfd;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    margin-left: 1000px;
    transition: background-color 0.3s;
    margin-top: 1px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }

  .button-next:hover {
    background-color: #ffd700;
    color: #1c1c3d;
  }